<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                <strong>Lista de Funcionários </strong>
            </span>            
        </div>
    </p-header>


<p-table [columns]="cols" [value]="funcionarios" selectionMode="single" [(selection)]="departamentoSelecionado"
  dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true"
  [rows]="10" emptymessage="Nenhum registro encontrado" [scrollable]="true" >

  <!-- Usando Scroll -->
  <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col *ngFor="let col of columns" style="width:160px">
      </colgroup>
  </ng-template>

  <!-- Cabeçalho da Tabela -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>

  <!-- Corpo da Tabela -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{resolveFieldData(rowData,col.field)}}
      </td>
    </tr>
  </ng-template>

  <!-- Roda Pe da Tabela -->
  <ng-template pTemplate="summary">
    <!-- Butões -->

    <div style="text-align: left" class="botoesDetalhes">
      <p-button label="Novo" icon="pi pi-plus" styleClass="ui-button-info" [routerLink]="['/funcionario']">
      </p-button><!-- Novo -->

      <p-button label="Editar" icon="pi pi-pencil" styleClass="ui-button-warning" [disabled]="botoesDesabilitado"
        [routerLink]="['/funcionario',getFuncionarioID()]">
      </p-button>

      <!-- Mostra detalhes -->
      <p-button label="Excluir" icon="pi pi-trash" styleClass="ui-button-danger" [disabled]="botoesDesabilitado"
        (onClick)="excluir()"></p-button>
      <!-- Excluir -->
    </div>
  </ng-template>

</p-table>

</p-panel>