<!--<p-messages [(value)]="global.msgs"></p-messages>  msg -->
<p-growl [(value)]="global.msgs"></p-growl>

<header>
  <span>Gestão de Funcionário - com <strong>Angular 7 & PrimeNG</strong></span>
</header>



<div class="ui-g">

  <div class="ui-g-12 ui-md-3">
    <p-accordion>
      <p-accordionTab header="Cargo">
        <ul>
          <li><a routerLink='/cargo'>Cadastro</a></li>
          <li><a routerLink='/cargo/lista'>Listagem</a></li>
        </ul>
      </p-accordionTab>
      <p-accordionTab header="Departamento">
        <ul>
          <li><a routerLink='/departamento'>Cadastro</a></li>
          <li><a routerLink='/departamento/lista'>Listagem</a></li>
        </ul>
      </p-accordionTab>
      <p-accordionTab header="Funcionario">
        <ul>
          <li><a routerLink='/funcionario'>Cadastro</a></li>
          <li><a routerLink='/funcionario/lista'>Listagem</a></li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="ui-g-12 ui-md-9 ">

    <div class="ui-g-12 ui-g-nopad">

      <router-outlet></router-outlet>

    </div>
  </div>


  <footer>
    <span>&copy;2019 | <strong>www.dowglasmaia.com</strong> | <a href="http://www.linkedin.com/in/dowglasmaia"
        target="_new" style="color: seashell">LinkdIn</a></span>
  </footer>

</div>