body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 80px;
    text-align: center !important;
    font-size: 25px;
    background-color: darkslateblue;
    margin-bottom: 10px;
    padding: 20px;
    color: blanchedalmond;
}

footer{
    width: 100%;
    height: 80px;
    text-align: center !important;
    font-size: 18px;
    background-color: darkslateblue;   
    color: blanchedalmond; 
    padding: 10px;
    margin-top: 20px;
   position: relative;
}
.ui-float-label {
    margin: 10px auto;
    
    
}

.ui-inputtext {
    width: 100%;
  }

  .codigo{
    width: 120px !important;
    text-align: center;
}

.ui-autocomplete{
    width: 100% !important;
  }

.ui-pPassword {
    width: 100%;
  }

  /* Botões */
.botoesDetalhes {
    padding-left: 0.5em;
  }

  .item-rede-social{
    float: right;
  }