<div class="jumbotron">

    <h2 style="text-align: center; color:#0B3861; font-size: 46px"> Tecnologias Implementadas </h2>

    <div class="ui-g ">

        <div class="ui-g-12 ui-md-6 ui-lg-4 ">
            <p-card title="Angular 7" subtitle="Fron-End" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="../../assets/img_ti/angular.png">
                </p-header>
                <div>
                    DEVELOP ACROSS ALL PLATFORMS
                    <br>
                    Learn one way to build applications with Angular and reuse your code and abilities to build apps for
                    any deployment target. For web, mobile web, native mobile and native desktop.
                    <br>
                    <br>
                </div>
                <p-footer>
                    <a href="https://angular.io/" target="_new">
                        angular.io
                    </a>

                </p-footer>
            </p-card>
        </div>


        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-card title="PrimeNG" subtitle="Biblioteca de Componentes" [style]="{width: '360px'}"
                styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="../../assets/img_ti/ng-prime 250.png">
                </p-header>
                <div>
                    Porquê PrimeNG?
                    <br>
                    PrimeNG é uma coleção de componentes de UI ricos para Angular. Todos os widgets são open source e
                    gratuitos para uso sob licença MIT. O PrimeNG é desenvolvido pela PrimeTek Informatics.
                </div>
                <p-footer>
                    <a href="https://www.primefaces.org/primeng/#/" target="_new">
                        PrimeNG
                    </a>
                </p-footer>
            </p-card>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-card title="Spring Boot" subtitle="Back-End - Spring | JPA | JWT" [style]="{width: '360px'}"
                styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="../../assets/img_ti/spring-boot-project-250x250.png">
                </p-header>
                <div>
                    Spring Boot makes it easy to create stand-alone, production-grade Spring based
                    Applications that you can "just run".
                    Most Spring Boot applications need very little Spring configuration.
                    <br>
                    <br>
                    <br>
                </div>
                <p-footer>
                    <a href="https://spring.io/projects/spring-boot" target="_new">
                        Spring Boot 2
                    </a>
                </p-footer>
            </p-card>
        </div>

    </div>
    <hr>
    <h2 style="text-align: center; font-size: 26px">
        <a style="color:grey; " href="https://github.com/dowglasmaia" target="_new">
            Dowglas Maia | Github
        </a>
    </h2>
</div>