<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                <strong> Cadastro de Departamento </strong>
            </span>

            <button pButton type="button" style="float:right" icon="pi pi-search" label="Listagem"
                class="ui-button-warning"></button>
        </div>
    </p-header>

    <div class="ui-g ">
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <input id="departamento" type="text" pInputText>
                <label for="departamento">Departamento</label>
            </span>
        </div>

    </div>

    <p-footer>
        <button pButton type="button" icon="pi pi-save" label="Salvar" class="ui-button-info"
            style="margin-right: .25em"></button>

    </p-footer>
</p-panel>