<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value); $event.preventDefault()">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                    <strong> Cadastro de Funcioinários </strong>
                </span>

                <a routerLink="/funcionario/lista">
                    <button pButton type="button" style="float:right" icon="pi pi-search" label="Listagem"
                        class="ui-button-warning"> </button>
                </a>
            </div>
        </p-header>

        <div class="ui-g ui-fluid">
            <!--Nome-->
            <div class="ui-g-12 ui-md-7">
                <span class="ui-float-label">
                    <input id="nome" type="text" pInputText formControlName="nome">
                    <label for="nome">Nome Completo</label>
                </span>
                <p-message severity="error" text="Informe o nome do Funcioanrio"
                    *ngIf="!formGroup.controls['nome'].valid&&formGroup.controls['nome'].dirty">
                </p-message>
            </div>

            <!--Cargo-->
            <div class="ui-g-12 ui-md-5">
                <span class="ui-float-label">
                    <p-autoComplete id="cargo" [suggestions]="filtroCargos" (completeMethod)="getCargos($event)"
                        field="nome" emptyMessage="Nenhum Registro Encontrado" formControlName="cargo">
                    </p-autoComplete>
                    <label for="cargo">Cargo</label>
                </span>
                <p-message severity="error" text="Um Cargo deve ser Informado"
                    *ngIf="!formGroup.controls['cargo'].valid&&formGroup.controls['cargo'].dirty">
                </p-message>
            </div>


            <!--Email-->
            <div class="ui-g-12 ui-md-8">
                <span class="ui-float-label">
                    <input id="email" type="text" pInputText formControlName="email">
                    <label for="email">E-mail</label>
                </span>
                <p-message severity="error" text="Informe um e-Mail"
                    *ngIf="!formGroup.controls['email'].valid&&formGroup.controls['email'].dirty">
                </p-message>
            </div>

            <!--Telefone-->
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                    <p-inputMask id="telefone" type="text" mask="(99) 9 9999-9999" formControlName="telefone">
                    </p-inputMask>
                    <label for="telefone">Telefone</label>
                </span>
                <p-message severity="error" text="Informe um Telefone"
                    *ngIf="!formGroup.controls['telefone'].valid&&formGroup.controls['telefone'].dirty">
                </p-message>
            </div>

            <!--Salario-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label ">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">$</span>
                        <input type="text" pInputText placeholder="Salário Bruto" formControlName="salario">
                        <span class="ui-inputgroup-addon">.00</span>
                    </div>
                </span>
                <p-message severity="error" text="Informe o Salário do Funcionario"
                    *ngIf="!formGroup.controls['salario'].valid&&formGroup.controls['salario'].dirty">
                </p-message>
            </div>


            <!--Data de Entrada-->
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                    <div class="input-group">
                        <input id="dta_entrada" type="date" pInputText formControlName="dataAdmissao">
                        <span class="input-group-addon" id="dta_entrada">Admissão</span>
                    </div>
                </span>
                <p-message severity="error" text="Informe a Data de Admissão"
                    *ngIf="!formGroup.controls['dataAdmissao'].valid&&formGroup.controls['dataAdmissao'].dirty">
                </p-message>
            </div>

            <!--Data de Saida-->
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                    <div class="input-group">
                        <input id="dta_saida" type="date" pInputText formControlName="dataDemissao">
                        <span class="input-group-addon" id="dta_saida">Demissão</span>
                    </div>
                </span>
            </div>


            <!--logradouro-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label ">
                    <input type="text" id="logradouro" pInputText formControlName="logradouro">
                    <label for="logradouro">Logradouro</label>
                </span>
                <p-message severity="error" text="Informe o nome da Rua!"
                    *ngIf="!formGroup.controls['logradouro'].valid&&formGroup.controls['logradouro'].dirty">
                </p-message>
            </div>

            <!--numero-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label ">
                    <input type="text" id="numero" pInputText formControlName="numero">
                    <label for="numero">Número</label>
                </span>
                <p-message severity="error" text="Informe o Numero para o Endereço."
                    *ngIf="!formGroup.controls['numero'].valid&&formGroup.controls['numero'].dirty">
                </p-message>
            </div>

            <!--bairro-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label ">
                    <input type="text" id="bairro" pInputText formControlName="bairro">
                    <label for="bairro">Bairro</label>
                </span>
                <p-message severity="error" text="O Campo Bairro é Obrigatório"
                    *ngIf="!formGroup.controls['bairro'].valid&&formGroup.controls['bairro'].dirty">
                </p-message>
            </div>

            <!--cep-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label">
                    <p-inputMask id="cep" type="text" mask="99.999-999" formControlName="cep">
                    </p-inputMask>
                    <label for="cep">Cep</label>
                </span>
                <p-message severity="error" text="O Campo Cep é Obrigatório"
                    *ngIf="!formGroup.controls['cep'].valid&&formGroup.controls['cep'].dirty">
                </p-message>
            </div>

            <!--complemento-->
            <div class="ui-g-12 ui-md-4 ">
                <span class="ui-float-label ">
                    <input type="text" id="complemento" pInputText formControlName="complemento">
                    <label for="complemento">Complemento</label>
                </span>
            </div>

            <!--cidade  -->
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                    <p-autoComplete id="cidade" [suggestions]="filtroCidades" formControlName="cidade"
                        (completeMethod)="getCidadesPorNome($event)" field="nome"
                        emptyMessage="Nenhum Registro Encontrado">
                    </p-autoComplete>
                    <label for="cidade">Cidade</label>
                </span>
                <p-message severity="error" text="Informe uma Cidade"
                    *ngIf="!formGroup.controls['cidade'].valid&&formGroup.controls['cidade'].dirty">
                </p-message>
            </div>

            <!--UF-->
            <div class="ui-g-12 ui-md-4">
                <span class="ui-float-label">
                    <p-autoComplete id="uf" [suggestions]="filtroEstados" formControlName="estado"
                        (completeMethod)="getEstados($event)" field="nome" emptyMessage="Nenhum Registro Encontrado">
                    </p-autoComplete>
                    <label for="uf">UF</label>
                </span>
                <p-message severity="error" text="Informe um Estado"
                    *ngIf="!formGroup.controls['estado'].valid&&formGroup.controls['estado'].dirty">
                </p-message>
            </div>


        </div>

        <p-footer>
            <button pButton type="submit" icon="pi pi-save" [disabled]="!formGroup.valid" label="Salvar"
                class="ui-button-success" style="margin-right: .25em"></button>

            <p-button type="button" label="Novo" icon="pi pi-plus" styleClass="ui-button-info"
                [routerLink]="['/funcionario/novo']">
            </p-button><!-- Novo -->

        </p-footer>

    </p-panel>

</form>